*{
    margin: 0;
    padding: 0;
}
body{
    width:100%;
    height:100vh;
    overflow: hidden;
}
.login-top {
    width:100%;
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-image: url(../image/topbg.jpg);
    background-color: rgba(0,0,0,0.5);
    background-size:100% 90vh;
    background-position:center;
    position: relative;
    z-index:1;
}
.login-top::after{
    content: "";
    background-size:100% 90vh;
    display: block;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.3); 
    width:100%;
    height:inherit;
    z-index:2;
}

.login-inner-txt h2{
    position: relative;
    z-index:10;
    font-size: 70px;
    font-style: normal;
    font-weight: normal;
    color:white; 
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.login-inner-txt p{
    position: relative;
    z-index:10;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color:white;
    font-family:Arial,Helvetica,sans-serif;
    text-align: center;
}
.login-btn-container{
    display:flex;
    width:100%;
    height:10vh;
}
.login-btn-container button{
    background-color:#4285F4;
    -webkit-appearance: none;
    box-sizing:border-box;
    width:100%;
    box-shadow: none;
    border:1px solid #3079ed;
    outline:none;
    padding: 0;
    color:white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow:5px 5px #3079ed inset;
}