*{
    margin: 0;
    padding: 0;
}
body{
    width:100%;
    height:100%;
    overflow: hidden;
}

#wrap{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;

    height: 100%;
}

#pearing-description{
    
}

#pearing-description p{
    text-align: center;
    margin: 0 auto;
}

span.text {
    font-size: 16px;
    display: inline-block;
}

#pearing-inputs{
    width: 80%;
}

.mdl-textfield__input {
    font-size: 24px !important;
    
}

.pearing-note{
	font-size: 12px;
    color: #999;
}
